:root {
    font-size: 16px;
    --darkblue: #003970;
    --middledarkblue: #005499;
    --blue: #219CD7;
    --lightblue: #29C3FF;
    --ultralightblue: #B3E0FF;
    --red: #EE3350;
    --green: #8AC640;
    --indigo: #B24198;
    --gray : #C1C1C1;
    --lightgray : #E0E0E0;
}

body {
    background-color: var(--lightgray);
    color: var(--darkblue);
}

h6 {
    margin-bottom: .2rem;
    text-transform: uppercase;
}

.underline {
    width:58px;
    border-bottom:4px solid var(--blue);
    margin-bottom: 1rem;
}

.blue {
    color: var(--blue);
}

.hidden {
    display: none;
}

/*--------------------------------------------------------------
    FORMS
--------------------------------------------------------------*/

.content-container {
    background-color: #eee;
    border-radius: .5rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.form-control, .form-control:focus {
    box-sizing: border-box;
    border: .1rem solid var(--lightgray);
}

.validated-input {
    position: relative;
}

.icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 3em;
    right: 1.25em;
    pointer-events: none;
    z-index: 2;
}

.icon.icon-success {
    stroke: var(--green);
}

.icon.icon-error {
    stroke: var(--red);
}

.error-message {
    color: var(--red);
}

label {
    margin-top: 1.25rem;
    font-weight: 500  ;
    line-height: .75rem;
    color: var(--middledarkblue);
}

.form-check-input:checked {
    background-color: var(--blue);
}

input::placeholder {
    color: var(--gray)!important;
}

.form-control.input-error {
    border: 1.5px solid var(--red);
}

.form-control.input-error:focus {
    border: 1.5px solid var(--red);
}


/*--------------------------------------------------------------
    BUTTONS
--------------------------------------------------------------*/

.btn-primary {
    background-color: var(--blue);
    border-color: var(--blue);
    margin-top: 2rem;
    padding: .5rem 2rem;
}

.btn-primary:disabled {
    background-color: var(--gray);
    border-color: var(--gray);
}

.btn-secondary {
    background-color: var(--gray);
    border-color: var(--gray);
    margin-top: .3rem;
    width: 100%;
    text-transform: uppercase;
    /*padding: .5rem;*/
}

.btn-secondary:disabled {
    background-color: var(--darkblue);
    border-color: var(--darkblue);
    /*color: var(--ultralightblue);*/
}